.header {
    padding: 0 0 20px;
}

.main-logo {
    display: block;
    margin: 0 auto;
    max-width: 40px;
    outline: none;
    img,
    svg {
        display: block;
        max-width: 100%;
        height: auto;
        outline: none;
    }
    path {
        transition: fill 0.25s;
    }
    &:hover,
    &:focus {
        path {
            fill: $brand-bg;
        }
    }
}

