@import "libs/vars";
@import "libs/mixins";

@import "components/header";
@import "components/footer";
@import "../../node_modules/slick-carousel/slick/slick";

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?k6awt8');
	src:  url('../fonts/icomoon.eot?k6awt8#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?k6awt8') format('truetype'),
	  url('../fonts/icomoon.woff?k6awt8') format('woff'),
	  url('../fonts/icomoon.svg?k6awt8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-pencil:before {
	content: "\e905";
  }
  .icon-calendar:before {
	content: "\e953";
  }
  .icon-cog:before {
	content: "\e994";
  }
  .icon-bin:before {
	content: "\e9ac";
  }
  .icon-target:before {
	content: "\e9b3";
  }
  .icon-plus:before {
	content: "\ea0a";
  }
  .icon-cross:before {
	content: "\ea0f";
  }
  .icon-checkmark:before {
	content: "\ea10";
  }
  .icon-shuffle:before {
	content: "\ea30";
  }
  .icon-arrow-right2:before {
	content: "\ea3c";
  }
  .icon-arrow-left2:before {
	content: "\ea40";
  }
* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

body {
	margin: 0;
	padding: 20px 10px;
	min-width: 320px;
	font-family: $main-ff;
	transition: opacity 0.25s;



	// TEMPORARY SOLUTION
	background: #ddd;


	
	&.preloader {
		opacity: 0;
	}
}

a {
	color: $brand-fg;
	text-decoration: none;
	&:hover {
		color: $white;
	}
}

#planner {
	margin: 0 auto;
	max-width: 374px;
}

.content {
	padding: 20px;
}



.diary {
	margin: 0 auto 20px;
	border: 1px solid $brand-bg;
	border-radius: 4px;
	overflow: hidden;
	color: $brand-bg;
	background: $white;
	.date {
		border-bottom: 1px solid $brand-bg2;
		overflow: hidden;
		line-height: 40px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		color: $white;
		background: $brand-bg;
	}
	.btn {
		border: 0;
		padding: 0;
		width: 34px;
		width: calc((100% - 162px) / 4);
		height: 40px;
		text-align: center;
		color: $brand-fg;
		background: none;
		cursor: pointer;
		outline: none;
		i {
			display: block;
			line-height: 40px;
			font-size: 20px;
			vertical-align: middle;
		}
	}
	.btn-prev-day,
	.btn-today {
		float: left;
	}
	.btn-next-day,
	.btn-calendar {
		float: right;
	}
}


.calendar-holder {
	padding: 20px 0;
	// max-width: 300px;
}
.calendar {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid $brand-bg;
	text-align: center;
	background: $brand-bg;
	.cell {
		position: relative;
		border: 1px solid $black;
		width: calc(100% / 7);
		padding-top: calc(100% / 7);
		background: $white;
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		button {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			margin: 0;
			border: 0;
			padding: 0;
			vertical-align: top;
			color: $white;
			background: $brand-bg;
			cursor: pointer;
			outline: none;
			&:hover {
				color: $brand-bg;
				background: $brand-fg;
			}
		}
		&.today {
			button {
				color: $white;
				background: $brand-bg2;
			}
		}
		&.selected {
			button {
				color: $brand-bg;
				background: $brand-fg;
			}
		}
	}
	.switchers {
		width: 100%;
		background: $white;
		.label {
			position: relative;
			margin-left: calc(100% / 7);
			border: 1px solid $black;
			padding: 0;
			width: calc(100% / 7 * 5);
			padding-top: calc(100% / 7);
			white-space: nowrap;
		}
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.switcher {
		position: relative;
		margin: 0;
		border: 1px solid $black;
		padding: 0;
		width: calc(100% / 7);
		padding-top: calc(100% / 7);
		text-align: center;
		&.prev {
			float: left;
		}
		&.next {
			float: right;
		}
	}
}

.day {
	position: relative;
	.preloader-layer {
		opacity: 0;
		pointer-events: none;
		background: rgba(#fff,0.75);
		transition: all 0.25s linear 0.25s;
	}
	&.loading {
		.preloader-layer {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
.preloader-layer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(#fff,1);
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.days-cells {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid $brand-bg;
	background: $brand-bg;
	.cell {
		border: 1px solid $brand-bg;
		width: calc(100% / 6);
		line-height: 32px;
		font-size: 14px;
		text-align: center;
		background: $white;
		cursor: pointer;
		&:hover,
		&.hover {
			color: $white;
			background: $brand-bg;	
		}
	}
	.event {
		position: relative;
		border: 1px solid $brand-bg2;
		width: 100%;
		padding: 0 10px;
		line-height: 32px;
		font-size: 14px;
		// text-align: center;
		color: $white;
		background: $brand-bg;
		.time {
			line-height: 14px;
			font-size: 10px;
		}
		&.done {
			border: 1px solid $brand-bg;
			color: $brand-bg;
			background: $white;
		}
		&.move {
			color: $white;
			background: $brand-bg2;
		}
		.settings {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			border-left: 1px solid $brand-bg2;
			// width: 32px;
			button {
				float: right;
				margin: 0;
				border: 0;
				padding: 0;
				width: 32px;
				height: 32px;
				line-height: 32px;
				font-size: 16px;
				color: $brand-fg;
				background: none;
				cursor: pointer;
				i {
					display: block;
				}
			}
		}
		.tools {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			display: flex;
			justify-content: space-between;
			background: $white;
			button {
				// float: right;
			}
		}

	}
	.gap1 {
		margin-left: calc(100% / 6);
	}
	.gap2 {
		margin-left: calc(100% / 6 * 2);
	}
	.gap3 {
		margin-left: calc(100% / 6 * 3);
	}
	.gap4 {
		margin-left: calc(100% / 6 * 4);
	}
	.gap5 {
		margin-left: calc(100% / 6 * 5);
	}
}



.add-event-form,
.edit-event-form {
	overflow: hidden;
	padding: 10px;
	width: 100%;
	textarea {
		display: block;
		margin: 0 0 10px;
		border: 1px solid $black;
		padding: 10px;
		width: calc(100% - 70px);
		width: 100%;
		height: 60px;
		resize: none;
	}
	.buttons {
		display: flex;
		justify-content: space-between;
	}
	.time {
		display: flex;
		justify-content: space-between;
		width: 140px;
	}
	.start {
		line-height: 30px;
		font-size: 18px;
		width: 60px;
		text-align: right;
		color: $white;
	}
	.hyphen {
		line-height: 30px;
		font-size: 18px;
		text-align: center;
		color: $white;
	}
	.finish {
		width: 60px;
	}
	select {
		display: block;
		margin: 0;
		border: 0;
		padding: 0;
		text-align: center;
		width: 100%;
		height: 30px;
		line-height: 30px;
		font-size: 18px;
		color: $white;
		background: $brand-bg;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0;
		text-overflow: '';
		cursor: pointer;
	}
	button {
		display: block;
		margin: 0;
		border: 1px solid $black;
		padding: 0 5px;
		width: 30px;
		height: 30px;
		color: $brand-bg;
		background: $brand-fg;
		cursor: pointer;
		&:hover,
		&:focus {
			color: $white;
			background: $brand-bg2;
		}
		i {
			display: block;
		}
	}
}